@page
@model ContactModel
@{
    ViewData["Title"] = "Contact Us";
}
<div>

    <a href="mailto:welcome@welcome.com">Email Us</a>
    <p>Tel: 612-77-189</p>
    <p>Contact Person : Sansanee Auk</p>
</div>